.mobile-menu{
    #nav-bar {
        transition: opacity .3s ease-in;
    }

    .overlay {
        display: none;
        height: 95vh;
        width: 100%;
        position: fixed;
        z-index: 1; 
        left: 0;
        top: rem(80px);
        background: linear-gradient(360deg,rgba(0,0,0, 1) 30%, rgba(0,0,0, .5) 80%, transparent);
        overflow-x: hidden; 
    }
  
    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%; 
        text-align: center; 
        margin-top: 30px;
    }

    .nav-bar-link{
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: use('light') !important;
        display: block; 
        transition: 0.3s; 
    }
    
    .overlay a:hover,
    .overlay a:focus {
        color: #f1f1f1;
    }
    
    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }
}

@include mediaMax(450px){
    .mobile-menu{      
        .menu-btn-wrapper{
            padding-top: 30px;
            .uk-button-secondary {
                width: 200px;
                font-size: 16px;
                border: none;
                position: relative;
                padding: 5px 10px;
            }
        }
        .top-social{
            display: flex;
            padding-top: 30px;
            align-items: center;
            justify-content: center;
            gap: 12px;
        }
    }    
}

.content{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(7px);
}