
button,
.nav-item a{
  transition: filter;
}
.nav-item a:is(:hover, :focus-visible),
button:is(:hover, :focus-visible){
  filter:brightness(115%)
}
button:active{
  filter: brightness(85%);
}
h3{
  font-family: "Montserrat", sans-serif !important;
}
.transparent{
  background: transparent;
  .header .uk-navbar-nav>li>a,
  .uk-button-link{
    color: use('dark');
  }
}
.title {
  padding: rem(80px 0);
  text-align: center;
  @include fontSize(36);
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.title_main {
  @include fontSize(45);
  text-transform: initial;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.font-alter{
  font-family: "Dancing Script", cursive;
}
.dark {
  color: use("dark");
}
.light {
  color: use("light");
}
.light-opacity {
  color: use("light", $a: 0.5);
}
.dark-opacity {
  color: use("dark", $a: 0.5);
}
.accent-text{
  color: use("accent-dark");
}
#bwcrm-widget-action .bwcrm-btn-widget-actio{
  padding: 14px 30px;
  background: use("accent-dark");
}

.title_description,
.title_description-light {
  @include fontSize(28);
  @include fw(300);
  text-wrap: pretty;
}
.splide__progress__bar {
  height: 3px;
  background: #ccc;
}
.img_wrappaer {
  img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: contain;
  }
}
.uk-container {
  position: relative;
  z-index: 1;
}

.header .uk-icon:not(.uk-preserve) [stroke*="#"]:not(.uk-preserve) {
  stroke: currentcolor;
  fill: black !important;
}

.person_name{
    @include fontSize(24); 
    @include fw(500);
    margin: 0;
}
.person_descrtiption{
    padding: 0;
    margin: 0;
    opacity: .5;
    @include fontSize(16); 
}

.placeholder-img {
  background-image: url('../../img/masters/0.png');
  background-size: cover;
  background-position: center;
}

.specialist-avatar {
  height: auto;
  width: 100%;
  position: absolute;
  left: 0;
  background: use(accent-opacity);
}

@include mediaMax(1024px){
  .title {
    padding: rem(60px 0);
    text-align: center;
    @include fontSize(32);
    margin: 0;
  }
  .title_main {
    @include fontSize(38);
  }
  .title_description,
  .title_description-light {
    @include fontSize(24);
  }
  .person_name{
    @include fontSize(20); 
  }
  .person_descrtiption{
    @include fontSize(14); 
  }
  .person-review{
    @include fontSize(13); 
  }
  

}
@include mediaMax(768px){
  .title {
    padding: rem(40px 0);
    text-align: center;
    @include fontSize(28);
    margin: 0;
  }
  .title_main {
    @include fontSize(32);
  }
  .title_description,
  .title_description-light {
    @include fontSize(20);
  }
  .person_name{
    @include fontSize(18); 
  }
  .person_descrtiption{
    @include fontSize(14); 
  }
  .person-review{
    @include fontSize(12); 
  }
  .tips{
    a{
      @include fontSize(12); 
    }
  }
}
@include mediaMax(415px){
  .title {
    @include fontSize(28);
    margin: 0;
  }
  .title_main {
    @include fontSize(38);
  }
  .title_description,
  .title_description-light {
    @include fontSize(18);
  }
  .person_name{
    @include fontSize(18); 
  }
  .person_descrtiption{
    @include fontSize(13); 
  }
}

@media screen and (min-width: 540px) {
  #bwcrm-widget-action .bwcrm-btn-widget-action {
      line-height: 100%;
      font-size: 18px;
      font-weight: 400;
      padding: 14px 20px !important;
      background: use("accent-dark") !important;

  }
}

.hover-circle {
  position: relative;
  &::before{
    position: absolute;
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    background: black; 
    pointer-events: none; 
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
  }
}
.nav-item:hover .hover-circle {
  opacity: 0.7; 
}
.masters .master_card_body ul svg{
  padding-bottom: 2px;
}

@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}