<div class="mobile-menu">
    <div class="overlay" id="nav-bar">
        <div class="overlay-content">
              <a class="nav-bar-link" href="#main"
                >Головна</a
              >
              <a class="nav-bar-link" href="#services"
              >Послуги</a>    

              <a class="nav-bar-link" href="#about"
                >Про нас</a
              >
              <a class="nav-bar-link" href="#contacts"
                >Контакти</a
              >
              <div class="menu-btn-wrapper">
                <button class="uk-button uk-button-secondary btn-navbar">
                  <span>
                    Записатися
                  </span>
                </button>
              </div>
              <div class="top-social nav-bar-socila">
                <a
                  class="uk-icon-button"
                  target="_blank"
                  rel="nofollow"
                  href="tel:+380933558383"
                  >
                  <span class="material-symbols-outlined"> call </span>
                </a>
                <a
                  class="uk-icon-button"
                  target="_blank"
                  rel="nofollow"
                  href="#"
                >
                  <span class="uk-icon-link" uk-icon="tiktok"></span>
                </a>
                <a
                  class="uk-icon-button"
                  target="_blank"
                  rel="nofollow"
                  href="https://www.instagram.com/dcc_golovka12/?img_index=4"
                  >
                  <span class="uk-icon-link" uk-icon="instagram"></span>
                </a>
              </div>
        </div>
      </div>
</div>    
</div>