<div class="mobile-menu">
    <div class="overlay" id="nav-bar">

      
        <div class="overlay-content">
              <a class="nav-link uk-button uk-button-link" href="#main"
                >Головна</a
              >
              <a class="nav-link uk-button uk-button-link" href="#services"
              >Послуги</a>    
            <!-- <div uk-accordion="multiple: true">
                <div class="uk-open">                
                    <ul class="uk-accordion-content">
                        <li class="uk-nav-header">Зачіски</li>
                        <li><a class="" href="#">Жіночі</a></li>
                        <li><a class="" href="#">Чоловічі</a></li>
                        <li><a class="" href="#">Дитячі</a></li>
                        <li class="uk-nav-divider"></li>
                        <li class="uk-nav-header">Інше</li>
                        <li><a class="" href="#">Манікюр</a></li>
                        <li><a class="" href="#">Візаж</a></li>
                    </ul>
                </div>
            </div> -->
              <a class="nav-link uk-button uk-button-link" href="#about"
                >Про нас</a
              >
              <a class="nav-link uk-button uk-button-link" href="#contacts"
                >Контакти</a
              >
        </div>
      
      </div>
</div>