.about-salon {
  position: relative;
  padding-bottom: 100px;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    // background-image: url("../../img/green-bg 1.png");
    background:  linear-gradient(180deg, #192f28, #ccc2)
    ;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .content-wrapper {
    display: flex;
    align-items: center;
    text-align: end;
    gap: 40px;
  }
  .slider-wrapper{
    position: relative;
    &::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        // right: -4%;
        // top: -5%;
        // background: linear-gradient(90deg, rgba(255, 255, 255,), rgba(0, 0, 0, .2));
        left: -25%;
        top: -5%;
        // background: linear-gradient(90deg,rgba(0,0,0,.1), #fff);
        z-index: -1;
    }
  }
  .splide {
    max-width: 650px;
    width: 100%;
    height: 100%;
    position: relative;

  }
  .splide__arrow {
    background: linear-gradient(45deg, black, transparent);
  }
  .splide__arrow svg {
    fill: use("light");
  }
  .splide__pagination__page {
    background: linear-gradient(45deg, white, transparent);
  }
  .img_wrappaer {
    height: 400px;
    img{
        height: 100%;
        object-fit: cover;
    }
  }
  .splide__progress {
    background: linear-gradient(45deg, transparent, black);
  }
  .splide__progress__bar {
    background: linear-gradient(45deg, white, transparent);
  }
  .title{
    padding: 80px 0 40px;
  }
  .title_description.light-opacity{
    h3{
      color: use(light);
      font-size: 1.7rem;
    }
    ul{
      color: use('accent-dark');
      font-size: 1.5rem;
      li{
        position: relative;
        padding-right: 20px;
        &::after{
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          background: use(accent-dark);
          width: 5px;
          height: 5px;
          border-radius: 50%;
        }
      }
    }
  }
}
@include mediaMax(1024px){
  .about-salon{
    .slider-wrapper{
      flex: 1 0 50%;
    }
  }
}
@include mediaMax(450px){
  .about-salon{
    .title{
      padding: px(40px 0 20px);
    }
    .content-wrapper{
      display: flex;
      flex-direction: column;
    }
    .slider-wrapper::after {
      content: "";
      width: 120%;
      left: -25%;
      top: -5%;
      background: linear-gradient(145deg,rgba(0,0,0,.1),#fff);
    }
  }
}