.footer {
  padding: rem(75px 0);
  background: linear-gradient(
    180deg,
    #192f281e 0%,
    #192f28 100%
  );

  .footer_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: rem(50);
  }
  .social_group {
    display: flex;
    gap: rem(12px);
  }
  .site-footer__col{
    width: rem(350px);
  }

  .footer-logo{
    width: 100%;
    height: auto;
    display: flex;
    transform: translateZ(1px);
    img{
      cursor: pointer; 
      display: inline-block;
      animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 2) alternate;
    }
  }
  .contacts {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: rem(12px);
  }
  .btn-wrapper {
    button {
      width: 100%;
    }
  }
  .social_group {
    svg {
      width: rem(22px);
    }
  }
  .uk-icon-button {
    background: linear-gradient(45deg, black, transparent) !important;
    transition: 0.3s ease-in;
    svg {
      path {
        transition: 0.3s ease-in;
      }
    }

    &:hover {
      transition: 0.3s ease-in;
      svg {
        path {
          transition: 0.3s ease-in;
          fill: white;
        }
      }
    }
  }
}
@include mediaMax(450px){
  .footer{
    padding: 80px 0;
    .footer_wrapper{
      flex-direction: column;
      gap: 48px;
      align-items: center;
    }
    .social_group{
      flex-direction: row;
      gap: 50px;
    }
  }
}
.footer-logo img.animate { /* Класс для активации анимации */
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 2) alternate;
}
