.header {
  z-index: 99;
  width: 100vw;
  position: fixed;
  background: linear-gradient(180deg, transparent);
  backdrop-filter: blur(3px);
  height: 60px;
  .logo_wrapp {
    display: flex;
    align-items: center;
    gap: 10px;
    color: use(dark);
    background: linear-gradient(45deg, #192f28, transparent);
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
  }

  .logo_wrapp path {
    fill: use(light);
  }

  .btn-wrapper {
    display: flex;
    align-items: center;
  }
  .uk-button-secondary{
    background: use(accent-dark);
  }
  .nav-item {
    a {
      text-transform: initial;
    }
  }
  .top-menu-divider {
    background-color: use("light");
    width: rem(2px);
    height: rem(30px);
    display: block;
    margin: auto;
  }
  .top-social {
    display: flex;
    align-items: center;
    gap: rem(12px);
  }

  .uk-icon-button {
    background: linear-gradient(45deg, white, transparent);
    transition: 0.3s ease-in;
    span {
      transition: 0.3s ease-in;
    }
    svg {
      path {
        transition: 0.3s ease-in;
      }
    }

    &:hover {
      background: linear-gradient(45deg, black, transparent);
      transition: 0.3s ease-in;
      text-decoration: none;

      span {
        color: use("light");
        transition: 0.3s ease-in;
      }
      svg {
        path {
          fill: use("light");
          transition: 0.3s ease-in;
        }
      }
    }
  }

  .uk-navbar {
    align-items: center !important;
    
  }
  .uk-navbar-nav{
    transform: translateX(1000px);
    transition: opacity .3s ease-in-out, transform .5s linear;
    opacity: 0;
  }

  .uk-navbar.active {
    .uk-navbar-nav{
      transform: translateX(0px);
      transition: opacity .3s ease-in-out, transform .5s linear;
      opacity: 1;

    }
    .uk-navbar-left, .uk-navbar-right, [class*=uk-navbar-center]{
      transition: width .5s linear;
      &:after{
        width: 90%;     
        transition: width .5s linear;
      }
    }
  }

  .uk-navbar-nav > li > a {
    color: use(light) !important;
    transition: all 0.5s ease;
    font-size: 16px;
    // border-radius: 50%;
    // &:hover {
    //   background: use("dark") !important;
    //   transition: all 0.5s ease;
    // }
  }
  .uk-icon-link {
    color: use(dark) !important;
    font-size: 16px;

  }


  .dropdown-nav-menu {
    background: linear-gradient(45deg, #192f28, transparent);
    backdrop-filter: blur(5px) !important;
    color: use(dark) !important;
    .uk-nav-header {
      color: use(dark) !important;
    }
  }
  
  .dropdown-nav-menu {
    top: 80px !important;
  }
  .dropdown-nav-menu a {
    margin-left: 15px;
  }
  .overlay-blur{
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(10px);
    display: none;
    &.active{
      display: block;
    }
  }
  .uk-navbar-left, .uk-navbar-right, [class*=uk-navbar-center]{
    overflow: hidden;
    gap: 30px;
    padding-left: 30px;
    position: relative;
    transition: width .5s linear;
    &:after{
      position: absolute;
      content: '';
      right: 10%;
      width: 35%;
      height: 50%;
      background: linear-gradient(180deg, #192f28, transparent);
      z-index: -1;
      transition: width .5s linear;
    }
    // &::before{
    //     position: absolute;
    //     content: '';
    //     background-image: url('../../img/logo-without-cycle.svg');
    //     width: 100px;
    //     height: 100px;
    //     left: 0;
    //     top: 50%;
    //     transform: translateY(-50%);
    //   }
  }
}
@include mediaMax(1024px) {
  .header{
    padding: rem(20px 0);
    background: transparent;
    .nav-item{
      display: none;
    }
  }
}
@include mediaMax(768px) {
  .header{
    padding: rem(20px 0);
    background: transparent;
    .nav-item{
      display: none;     
    }
    .top-social{
      display: none;
    }
    .uk-button-secondary{
      width: 130px;
    }
    .uk-button{
      font-size: 10px;
    }
  }
}
@include mediaMax(450px){
  .header{
    .uk-navbar-nav{
      .btn-header{
        display: none;
      }
      .overlay-content{
        top: 10%;
      }
    }
  }
}