.main-page{
  .main-wrapper{
    display: flex;
    align-items: center;
  }
  h1{
    color: black;
    @include fontSize(127);
    font-weight: 600;
    margin: 0 auto !important;
    width: fit-content;
    font-family: "Dancing Script", cursive;

  }
  p{
    @include fontSize(37);
    line-height: 0;
    font-weight: 500;
    margin: auto;
    max-width: inherit;
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }

  .main-text{
    padding: 0 150px;
    flex: 1;
    .main-logo{
      width: rem(500px);
      margin: auto;
      display: flex;
      transform: translateZ(1px);
      img{
        max-width: 100%;
        height: auto;
        cursor: pointer; 
        display: inline-block;
        animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 2) alternate;
      } 
    }
  }

  .img-main{
    height: 100dvh;
    flex: 0 1 40%;
    overflow: hidden;
    position: relative;
    img{
      position: absolute;
      width: 100%;
      height: auto;
    }
  }
}

