.main-page{
  .main-wrapper{
    display: flex;
    align-items: center;
  }
  h1{
    color: black;
    @include fontSize(127);
    font-weight: 600;
    margin: 0 auto !important;
    width: fit-content;
    font-family: "Dancing Script", cursive;

  }
  p{
    @include fontSize(37);
    line-height:  100%;
    font-weight: 500;
    margin: auto;
    max-width: inherit;
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }

  .main-text{
    padding: 0 150px;
    flex: 1 1 20%; 
    .main-logo{
      width: rem(500px);
      margin: auto;
      display: flex;
      transform: translateZ(1px);
      img{
        max-width: 100%;
        height: auto;
        cursor: pointer; 
        display: inline-block;
        animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 2) alternate;
      } 
    }
  }

  .img-main{
    height: 100%;
    flex: 1;
    overflow: hidden;
    position: relative;
    img{
      width: 100%;
      height: auto;
    }
  }
}

@media (min-width: 1680px){
 .main-page{
  .img-main{
    height: 100dvh;
    overflow: hidden;
    position: relative;
    flex: 10%;
    img{
      width: 100%;
      position: absolute;
      height: auto;
    }
  }
 } 
}
@media (max-width: 1440px) {
  .main-page{
    h1{
      @include resp-font-size(107);

    }
    p{
      @include resp-font-size(37);
      padding-bottom: rem(100px);
    }
    .main-text{
      padding:0 resp(50);
      flex: 1;
      .main-logo{
        width: 100%;
        max-width: 400px;
        height: auto;
      }
    }
    .img-main{
      max-height: 100dvh;
    }
  }
}
@media (max-width: 1200px){
  .main-page{ 
    .main-text{ 
      .main-logo{
        padding-top: 70px;
      }
    }
  }
}
@media (max-width: 1024px){
    .main-page {
      .img-main{
         display: none;
      }
      h1{
        font-size: 42px;
      }
      p{
        font-size: 22px;
      }
      .main-text .main-logo {
        padding-top: 150px;
        max-width: 350px;
      }
    }
}
