.map {
  background: use("light");
  padding: rem(80px 0 0);

  .title_group {
    text-align: end;
    margin-bottom: rem(20px);
    display: grid;
    gap: 0 2.5%;
    grid-template-columns: 67.5% 30%;
    p{
      margin: 0;
      text-align: end;
    }

    h2{
      grid-column: 1/2;
      grid-row: 1 / 3;
      height: fit-content;
      margin: auto 0;
    }
    .title_description{
      grid-column: 1/2;
      grid-row: 3/4;
    }
    .tips{
      grid-column: 2/3;
      grid-row: 1/4;
      transition: .3s ease-in;
      .tips-list{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 25px;
        height: 100%;
        .image-wrapp{
          width: 120px;
          height: 80px;
        }
        p{
          line-height: 1;
          text-align: center;
          color: use(danger);
          padding-bottom: 20px;
          transition: .3s ease-in;

        }       
      }

      &:hover{
        transition: .3s ease-in;
          p{
            transition: .3s ease-in;
            color: use(accent);
            text-decoration: none;
            outline: none;
          }
          a{
            text-decoration: none;
          }
        }
    }
    ul{
      padding-left: 0;
      margin: 0;
    }
  }

  .title_main {
    color: use("dark");
    margin-bottom: rem(10px);
  }

  .title_description {
    color: use("dark");
  }
  .iframe_wrapper{
    position: relative;
    margin-top: 20px;
    &::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        right: 15%;
        top: -10%;
        background: linear-gradient(270deg ,rgba(0,0,0, .5) 0,rgba(255,255,255) 100%);
        z-index: -1;
    }
  }
  
  iframe {
    width: 100%;
  }

  .map_wrapper {
    display: grid;
    grid-template-columns:1fr;
    gap: rem(48px);
    align-items: center;
    text-align: center;
    .map_wrapper iframe {
      width: 100%;
      max-width: 100%;
      height: 450px;
      border: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

}

@include mediaMax(768px){
  .map{
    .map_wrapper{
      display: flex;
      flex-direction: column;
      gap: rem(24px);
    }
    .title_group{
      width: 100%;
      text-align: center;
    }
    .tips {
      padding: 36px 0 24px;
    }
    .tips-list{
      justify-content: center;
    }
    .iframe_wrapper{
      width: 70%;
      height: 200px;
      &::after{
        height: 150%;
      }
    }
  }
}

@include mediaMax(450px){
  .map{
    padding: 0 0 40px;
    .iframe_wrapper{
      width: 100%;
    }
  }
  .map iframe {
    width: 100%;
    height: 300px;
  }
}