.masters {
  position: relative;
  background: transparent;
  backdrop-filter: blur(5px);
  .title {
    padding: rem(80px 0);
    color: inherit;
  }
  .content-items-grid {
    display: flex;
    gap: 50px;
    padding-bottom: rem(80px);
    justify-content: center;
    align-items: center;
    justify-items: start;
  }
  .uk-container>:last-child {
    max-width: 920px;
    margin-bottom: 0;
    margin: 0 auto;
    gap:20px
}
  .master-card{
    width: 80%;
    transition: .3s ease-in-out;

    &:hover{
      transition: .3s ease-in-out;

      
      .startstoptime-list{
        color: use(accent);
        transition: .3s ease-in-out;
      }
      .worked-title:last-child{
        color: use(accent);
        transition: .3s ease-in-out;
      }
    }
    .worked{
      justify-content: center;
    }
    .uk-button-link{
      position: relative;
      transition: .3s ease-in;
      z-index: 1;
      &::after{
        position: absolute;
        content: '';
        height: 0%;
        width: 100%;
        bottom: 0;
        left: 0;
        background: linear-gradient(90deg, #00613d8e, transparent);
        transition: .3s ease-in;
        z-index: 0;
      }
      &:hover{
        color: use(accent) !important;
        transition: .3s ease-in;
        &::after{
          width: 100%;
          height: 100%;
          transition: .3s ease-in;
          bottom: 0;
        }
      }
      &:active{
        filter: brightness(85%);
        &::after{
          opacity: .5;

        }
      }
    }
  }

  .uk-card-body {
    padding: 15px 20px 0;
    cursor: pointer;
    height: 200px;
    p{
      margin: 0 0 10px 0;
      text-align: center;
      font-size: 20px;
    }
    .work-time{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .startstoptime-list{
      display: flex;
      padding-left: 0;
      margin: 0;
      padding: 5px 0px 5px 10px;
      font-size: 18px;
      transition: .3s ease-in-out;
      gap: 5px;
      .start span{
        width: 20px;
        height: 20px;
      }
      .start:first-child{
        color: use(accent-opacity);
      }
    }
    .startstoptime-text{
      text-align: center;
      margin: auto;
      display: block;
    }
  }
  .rate .uk-icon:not(.uk-preserve) [stroke*="#"]:not(.uk-preserve) {
    stroke: currentcolor;
    fill: red !important;
    stroke: none !important;
  }
  .uk-card-body .uk-icon:not(.uk-preserve) [stroke*="#"]:not(.uk-preserve) {
    fill: inherit;
  }
  .uk-icon:not(.uk-preserve) [stroke*="#"]:not(.uk-preserve) {
    stroke: currentcolor;
    fill: inherit;
}

  .uk-card-body .icon{
    width: 20px;
    height: 20px;
  }
  .master_card_body ul{
    display: flex;
    justify-content: center;
    font-size: 18px;
    gap: 5px;
    margin-top: 10px;
    li{
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .worked-title:last-child{
      color: use(accent-opacity);
      transition: .3s ease-in-out;

    }
  }

  .uk-card-default .uk-card-header{
    border-bottom: none;
    padding: 20px 10px 0px 30px;
    p{
      font-size: 15px;
    }
    .rate{
      display: flex;
      align-items: baseline;
      color: #999;
    } 

    .rate-num{
      font-size: 17px;
      color: use(accent-dark);
      padding-left: 10px;
    }
    .uk-icon{
      display: block;
      margin: auto 0;
      padding-left: 5px;

    }
  }
  .uk-card-default .uk-card-footer {
    border-top: none;
  }
  .img-wrapper-card{
    width: 100px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background: use(accent-opacity);
  }
  .uk-width-expand p{
    margin: 0;
    padding-top: 0px;
    font-size: 14px;
  }
  .uk-card-footer {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      margin: 0;
    }
  }
  .person_title_wrapper{
    background: linear-gradient(90deg,#fff 1%,transparent 100%);
    padding: rem(25px 15px 10px);
    position: absolute;
    bottom: -35%;
    right: 15%;
    width: 155px;
    z-index: -1;
    .person_descrtiption{
        @include fontSize(15)
    }
  }
  .content-item{
    position: relative;
  }
}
@include mediaMax(1024px){
  .masters .uk-container>:last-child{
    width: 750px;
  }
  .masters{
    .content-items-grid {
      max-width: 700px;
      display: grid;
      grid-template-columns: repeat(2, 40%);
      gap: 20px 20px;
    }
  }
  .masters .master-card {
    width: 100%;
    transition: .3s ease-in-out;
  }
}

@include mediaMax(850px){
}
@include mediaMax(768px){
  .masters{
    .title{
      padding: 40px 0;
    }
    .content-items-grid {
      max-width: 100%;
    }
    .uk-container>:last-child {
      max-width: 100%;
    }
    .uk-card-title {
      font-size: 1.2rem;
    }
    .img-wrapper-card {
      width: 60px;
      height: 75px; 
    }
    .master_card_body ul{
      gap: 5px;
      margin: 0 0 10px;
    }
    .uk-card-body .startstoptime-list{
      font-size: 15px;
    }
    .uk-card-body {
      height: auto;
    }
    .master_card_body ul{
      flex-wrap: wrap;
    }
  }
}
@include mediaMax(670px){
  .masters{
    .uk-container>:last-child {
      max-width: 100%;
      grid-template-columns: 45%;
      }
    }
}

@include mediaMax(450px){
  .masters{
    .title{
      padding: 40px 0;
    }
    .content-items-grid{
      grid-template-columns: repeat(2, 1fr);
      justify-items: end;
      gap: rem(96px 48px);
    }
    .person_title_wrapper{
      right: -10%;
      bottom: -45%;
    }
    .img_wrappaer{
      max-width: 150px;
    }
    .uk-container>:last-child {
      max-width: 289px;
      grid-template-columns: 1fr;
      padding-bottom: 30px;
    }
  }
}


