.reviews{
    margin-bottom: rem(50px);
    .title{
        padding: rem(80px 0 80px);
    }
    .content-items-grid {
        display: flex;
        flex-wrap: wrap; 
        overflow-y: scroll; 
        scroll-behavior: smooth;
        gap: rem(24px);
        max-height: rem(350px);
        overflow-x: hidden;
        scroll-snap-type: y mandatory;

        @include scrollbar-hide()
    }
    
    .content-item {
        flex: 1 0 45%;
        scroll-snap-align: center;
        padding: rem(30px) 0;
    }
    .person-review {
        width: 90%;
        text-wrap: balance;
    }

    .person_wrapper{
        display: flex;
        align-items: center;
        gap: rem(24px);
        padding-bottom: rem(24px);
    }
    .img_wrapper img{
            border-radius: 50%;
    }
    .person-review{
        overflow: hidden;
        max-height: rem(180px);
        @include fontSize(15);
    }
}