.services {
  height: auto;
  width: 100%;
  position: relative;
  padding: rem(100px 0);
  overflow: visible;

  .title-group {
    text-align: start;
    position: relative;
    transform: translateX(50%);
  }
  .title {
    padding: rem(0);
    text-align: start;
    color: use(light);
  }
  p{
    color: use(light);
  }
  .services-item {
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &::after {
      position: absolute;
      content: "";
      background: linear-gradient(45deg, #192f28, transparent);
      width: 100%;
      height: 40%;
      bottom: 0;
      left: 0;
      transform: translate(0%, 100%);
      transition: transform 0.3s ease;
    }
    
    img{
      transition: opacity 0.5s ease, transform 0.5s ease;
      -webkit-animation: scaledown 1s linear;
      -moz-animation: scaledown 1s linear;
      animation: scaledown 1s linear;
      transform-origin: 50% 50%;
      animation-fill-mode: forwards;
    }

    &:hover {

      img{
        transition: transform 0.3s ease;
        z-index: 100;
        -webkit-animation: scale 1s linear;
        -moz-animation: scale 1s linear;
        animation: scale 1s linear;
        transform-origin: 50% 50%;
        animation-fill-mode: forwards;
      }

      &::after {
        transform: translate(0%, 0%);
        transition: transform 0.3s ease;
      }
      .services-item-description{
        opacity: 1;
        transition: opacity 0.5s ease;
      }
    }
  }


  .services-item-description{
    display: flex;
    padding: rem(0 0 20px);    
    gap: rem(12px);
    position: absolute;
    width: 85%;
    text-wrap: nowrap;
    bottom: 7%;
    left: rem(20px);
    justify-content: flex-start;
    align-items: center;
    color: use('light');
    z-index: 9;
    opacity: 0;
    transition: opacity 0.2s ease;

    .services-item-descrption-title{
        margin: 0;
        @include resp-font-size(22);
        max-width: rem(200px);
        overflow: hidden;
    }

    span{
        @include fontSize(48)
    }
  }
  .services-grid {
    display: grid;
    grid-template-columns: 1fr rem(350px);
    align-items: center;
    justify-items: center;
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    background-image: url("https://i.pinimg.com/564x/b5/e9/30/b5e930613d6534342066a56ec7d2657d.jpg");
    top: 0;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }
  .services-list {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: rem(48px);
    position: relative;
    &::before{
      position: absolute;
      content: "";
      background-image: url(../../img/logo-dcc.svg);
      width: 500px;
      height: 500px;
      left: 0%;
      top: 50%;
      transform: translate(-80%, -50%) scale(1);
      z-index: 0;
      -o-object-fit: cover;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: .8;
      animation: scaleAnimation 30s infinite ease-in-out;
    }
  }
  .img_wrappaer {
    transition: .8s ease;
    img {
      object-fit: cover;
      height: rem(350px);
    }
  }
}

@keyframes scaleAnimation {
  0%, 100% {
    transform: translate(-80%, -50%) scale(.8);
  }
  50% {
    transform: translate(-80%, -50%) scale(1.2);
  }
}
@media (max-width: 1680px) {
  .services{
    .title-group{
      transform: translateX(25%);
    }
    .services-list::before{
      max-width: 350px;
      width: 100%;
      max-height:350px;
      height: 100%;
    }
  }
}
@media (max-width: 1440px) {
  .services{
    .title-group{
      transform: translateX(0%);
    }
    .services-list::before{
      max-width: 250px;
      max-height:250px;
    }
  }
}
@include mediaMax(1250px){
  .services{
    padding: rem(60px 0);
    .services-grid {
      gap: rem(32px);
      grid-template-columns: 1fr 30%;
    }
    .services-list{
      grid-template-columns: repeat(2, minmax(150px, 300px)); 
      gap: calc(48 / 1400 * 100%) 
    }
    .services-item-descrption-title{
      margin: 0;
      @include resp-font-size(28);
      max-width: rem(200px);
      overflow: hidden;
      opacity: 1;
    }
    .title{
      @include resp-font-size(44);
    }
    .title-group p{
      @include resp-font-size(28);
      margin-top: 0;
    }
    span{
        @include fontSize(48)
    }
  }
}

@include mediaMax(1024px){
  .services{
    .services-grid{
      grid-template-columns: 100%;
    }
    .title-group{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px 10px;
      background: linear-gradient(45deg, #192f28, transparent);
    }
    .services-item-description {
      opacity: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .services-item-description .services-item-descrption-title {
      width: fit-content;
      font-size: 18px;
    }
    .services-item::after {
      height: 100%;
    }
    
    .services-item-descrption-title{
      background: linear-gradient(45deg, #00613d25, transparent);
      backdrop-filter: blur(5px);
    }

  }
}
@include mediaMax(768px){
  .services{
    &::after{
      width: 80%;
      height: 100%;
    }
    .title-group{
      width: 50%;
    }
    .services-grid {
      display: flex !important;
      flex-direction: column-reverse;
    }
    .services-list{
      grid-template-columns: repeat(2, 1fr); 
      gap: calc(48 / 1400 * 100%);
      width: 100%;
    }
    .title-group{
      width: 75%;
      margin-right: auto;
      p{
        margin: 0;
      }
    }
    .services-item {    
      .services-item-description{
        opacity: 1;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,-10%);
        width: fit-content;
        height: 80px;
      }
    }
  }
}
@include mediaMax(450px){
  .services{
    overflow: hidden;
      padding: rem(40px 0 0);
      .services-grid{
        gap: 40px;
      }
      .uk-container{
        padding: 0;
      }
      .title-group{
        width: 100%;
        position: static;
        transform: translate(0);
        .title{
          font-size: 22px;
        }
        p{
          font-size: 15px;
        }
        &::before{
          top: -50%;
        }
      }
      .title{
        text-align: center;
      }
      .title_description{
        margin-top: 30px;
      }
      .services-item-descrption-title{
        font-size: 23px !important;
      }
      .services-list{
        grid-template-columns: 100%;
        gap: 0px;
      }
  }
}

@keyframes scale{
  0%{
    transform:scale(1.0);
  }
  100%{
    transform:scale(1.1);
    -webkit-box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.1);
    box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.1);
  }
}

@keyframes scaledown{
  0%{
    transform:scale(1.1);
  }
   100%{
    transform:scale(1.0);
  }
}

