<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>beautyfull</title>
    <link rel="stylesheet" href="./css/style.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.17.10/dist/css/uikit.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.x.x/css/uikit.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide/dist/css/splide.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pinyon+Script&display=swap" rel="stylesheet">

  </head>
  <body>
    {% include "components/header.html" %}

    <main class="content">{% block content %}{% endblock %}</main>
    {% include "components/footer.html" %}

    
    <script type="text/javascript">
      (function(d, w, s) {
          var widgetHash = 'Cys9yKZPYyvOnAEUweXU',bow = d.createElement(s);bow.type = "text/javascript";
          bow.async = true;
          bow.src = '//widgets.binotel.com/b/bocrm/widgets/' + widgetHash + '.xjs';
          var sn = d.getElementsByTagName(s)[0]; sn.parentNode.insertBefore(bow, sn);
      })(document, window, 'script');
    </script>

    <script defer>
      function scrollToTop() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.10/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.10/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide/dist/js/splide.min.js"></script>
    <script type="text/javascript" src="https://res.cloudinary.com/veseylab/raw/upload/v1684982764/magicmouse-2.0.0.cdn.min.js"></script>


    <script src="./js/imports.js" defer type="module"></script>
    <script src="./js/script.js" defer type="module"></script>
    <script src="./js/components-js/header.js" defer></script>
    <script src="./js/components-js/mobile-menu.js" defer></script>

    
  </body>
</html>
